.slider-item {
  position: relative;
  border-radius: 3px;
  transition: transform 300ms ease, z-index 600ms ease;
  z-index: 1;

  &:hover {
    transform: scale(1.6);
    transition: transform 300ms ease 300ms, z-index 600ms ease;
    z-index: 99;

    .slider-item__info {
      visibility: visible;
      opacity: 1;
      transition: all 300ms ease 300ms;
    }
  }

  &__img {
    position: relative;
    height: 163px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    text-align: center;
    color: $white;
    font-size: $text-lg;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    text-shadow: 1px 1px 1px #000;
  }

  &__info {
    padding: 10px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: $darkGray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
  }

  &__control {
    display: flex;

    & .btn {
      height: 30px;
      width: 30px;

      i {
        font-size: 1.1rem;
      }
    }

    & .btn:not(:last-child) {
      margin-right: 0.5rem;
    }

    & .btn:last-child {
      margin-left: auto;
    }
  }

  &__more-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    span:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__rating {
    display: inline-block;
    font-size: 0.7rem;
    color: $greenSuccess;
    font-weight: bold;
  }

  &__adult-type {
    display: inline-block;
    color: $white;
    padding: 0 4px;
    line-height: 0.8rem;
    font-size: 0.8rem;
    border: 1px solid $lightGray;
  }

  &__hd-badge {
    display: inline-block;
    color: $white;
    padding: 0 2px;
    line-height: 0.6rem;
    font-size: 0.6rem;
    border: 1px solid $lightGray;
  }

  &__genres {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  &__genre {
    position: relative;
    font-size: 0.7rem;
    color: $white;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -7.5px;
      @include centerYByPosition;
      height: 3px;
      width: 3px;
      border-radius: 50%;
      background-color: $lightGray;
    }
  }
}
