//color
$freshRedHover: #f40612;
$freshRed: #e50914;
$red: #a20a12;
$black: #000000;
$greenSuccess: #4bca81;
$white: #fff;
$darkGray: #222222;
$lightGray: #757575;
$midGray: #303030;

//font size
$text-4xl: 4rem;
$text-3xl: 3rem;
$text-2xl: 2.5rem;
$text-xl: 1.6rem;
$text-lg: 1.25rem;
$text-sm: 0.938rem;
$text-xs: 0.813rem;

//font weight
$font-bold: 700;
$font-semibold: 400;
$font-medium: 300;
