.swiper-button-next,
.swiper-button-prev {
  color: $white;
  visibility: hidden;
  transition: transform 300ms ease;
  &:hover {
    transform: scale(1.3);
  }
  &:after {
    font-size: 2rem;
  }
}

.slider__title {
  display: inline-block;
  color: $white;
  font-size: 27px;
  margin-bottom: 1rem;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

.slider.has-expanded .swiper-button-next,
.slider.has-expanded .swiper-button-prev {
  visibility: visible;
}

.slider {
  &:hover {
    position: relative;
    z-index: 3;
  }
  .swiper {
    cursor: pointer;
    overflow: visible;
  }

  &:not(:last-child) {
    margin-bottom: 72px;
  }

  .swiper-slide:nth-of-type(3n + 1) .slider-item {
    transform-origin: left;
  }

  .swiper-slide:nth-of-type(3n + 3) .slider-item {
    transform-origin: right;
  }

  @media (min-width: 1288px) {
    .swiper-slide:nth-of-type(4n + 1) .slider-item {
      transform-origin: left;
    }

    .swiper-slide:nth-of-type(4n + 4) .slider-item {
      transform-origin: right;
    }
  }

  @media (min-width: 1588px) {
    .swiper-slide:nth-of-type(5n + 1) .slider-item {
      transform-origin: left;
    }

    .swiper-slide:nth-of-type(5n + 5) .slider-item {
      transform-origin: right;
    }
  }

  @media (min-width: 1886px) {
    .swiper-slide:nth-of-type(6n + 1) .slider-item {
      transform-origin: left;
    }

    .swiper-slide:nth-of-type(6n + 6) .slider-item {
      transform-origin: right;
    }
  }
}
