.profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  &__container {
    animation: 500ms scale-down ease-in-out;
  }

  &__title {
    font-size: $text-xl;
    font-weight: normal;
    color: $white;
    text-align: center;

    @include tablet {
      font-size: $text-4xl;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    @include tablet {
      gap: 2.375rem;
    }
  }
}

.profile {
  cursor: pointer;

  &:hover > &__img {
    border: 3px solid $white;
  }

  &:hover > &__name {
    color: $white;
  }

  &__img {
    max-width: 100px;
    border-radius: 0.25rem;
    border: 3px solid $black;

    @include tablet {
      max-width: 180px;
    }
  }

  &__name {
    text-align: center;
    margin-top: 0.75rem;
    font-size: $text-lg;
    font-weight: normal;

    @include tablet {
      font-size: $text-xl;
    }
  }
}
